header,article,.gallery-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.width-50{
    width: 50%;
}
.gallery-section{
    margin: 20px 0px;
}
footer{
    background-color: navy;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.icon{
    color: white;
    margin: 0px 10px;

}